# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Django database
db.sqlite3

# Django logs
*.log

# Uploaded files
/media/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
